<nav class="grey darken-3">
    <div>
        <a href="#" class="brand-logo center"> Goals</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger
        show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/">
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name"><i class="fas fa-certificate"> <b>HOME</b></i></div>
                        <div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
                    </div>
                </a>
            </li>
            <br>
            <li><a href="#"> <em class="fas fa-bullseye"></em><span class="label label-danger">{{length}}</span></a></li>
            <li><a href="/goals">Completed goals</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
        </div>
    </div>
</nav>