<h3><i class="far fa-address-book"> My Set Goals</i></h3>
<div class="section">
    <p class="lead"> Set long and short terms goals</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn blue darken-1">
    <div class="i fab fa-google left"></div> Login with Google
    </a>
</div>