<h3>Add Goal</h3>
<div class="row">
    <form action="/goals" method="POST" class="col s12">

        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title">
                <label for="title">Title</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select id="status" name="status">
                    <option value="In-view" selected>In-view</option>
                    <option value="Not-started">Not-started</option>
                </select>
                <label for="status">Status</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select id="duration" name="duration">
                    <option value="days" selected>Days</option>
                    <option value="weeks">Weeks</option>
                    <option value="months">Months</option>
                    <option value="years">Years</option>
                </select>
                <label for="duration">Time Frame</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>Set A New Goal:</h5>
                <textarea id="body" name="body"></textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>